<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUpekIjesKpo7xYjwnzLcN4sAc_l_AFFE</string>
	<key>GCM_SENDER_ID</key>
	<string>104093900360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interviewDemo</string>
	<key>PROJECT_ID</key>
	<string>interview-demo-85602</string>
	<key>STORAGE_BUCKET</key>
	<string>interview-demo-85602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104093900360:ios:2a56da97c1deb85879c27d</string>
</dict>
</plist>